<h1>Welcome to {{ title }}</h1>

<h5>Organise your todo list</h5>

<!-- <input type="text" #newTodo (keyup.Enter)="addTodo(newTodo.value)" (blur)="addTodo(newTodo.value)"> -->
<input
  [(ngModel)]="todo"
  type="text"
  #newTodo="ngModel"
  name="todo"
  (keyup.Enter)="addTodoWithKey(); todoReset()"
/>
<button (click)="addTodo(newTodo.value); todoReset()">Add todo</button>

<h2>Your TODO list:</h2>
<ul>
  <li class="card-container" *ngFor="let todoItem of todos; let i = index">
    <h4>{{ todoItem }}</h4>
    <button (click)="deleteTodo(i)">Delete</button>
  </li>
</ul>
